/*trial*/

.trial {
  display: flex;
  justify-content: center;
  &__inner {
    display: flex;
    align-items: center;

    background: #343434;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 33px;
    max-width: 1220px;
    margin-bottom: 287px;
  }
  &__container {
    margin: 80px 60px 78px 94px;
    &-text {
      font-weight: normal;
      font-size: 52px;
      line-height: 62px;

      max-width: 479px;
      margin-bottom: 37px;
    }
    &-btn {
      padding: 13px 67px;

      background: none;
      border: 1px solid #fff;
      box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
      color: #fff;

      font-family: "Graphik Web", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 25px;

      cursor: pointer;
      &:hover {
        background: #4452fe;
        border: 1px solid #4452fe;

        transition: 0.2s;
      }
    }
  }
  &__picture-desktop {
    border-radius: 0 33px 33px 0;
  }
  &__picture-mobile {
    display: none;
    width: 100%;
  }
}

@media screen and (max-width: 1260px) {
  .trial {
    background: #1e1e1e;
    padding-top: 104px;
    &__inner {
      flex-direction: column;
      justify-content: center;
      margin-bottom: 0;
      box-shadow: 0px 4px 31px rgba(0, 0, 0, 0);
     background: none;
    }
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      &-text {
        text-align: center;
        max-width: 356px;
      }
      &-btn {
        margin-bottom: 106px;
      }
    }

    &__picture-desktop {
      display: none;
      
    }
    &__picture-mobile {
      display: block;
    }
  }
}
